GITHUB_TOKEN=sett_en_github_token_her
GITHUB_OWNER=richard141271
GITHUB_REPO=LEK-Testlab2.0
GITHUB_WORKFLOW_ID=testlab-pages.yml
GITHUB_BRANCH=main
PAGES_BASE_URL=https://richard141271.github.io/LEK-Testlab2.0
